# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

[mysqld]
# do not allow users to uninstall plugin
server_audit=FORCE_PLUS_PERMANENT
# only audit connections and DDL queries
server_audit_events=CONNECT,QUERY_DDL,QUERY_DML,TABLE,QUERY,QUERY_DCL
# enable logging
server_audit_logging=ON
# flat file
server_audit_output_type=FILE
server_audit_file_path=/var/log/mysql/audit.log
server_audit_file_rotate_size=1000000
server_audit_file_rotations=9
# syslog
#server_audit_output_type=SYSLOG
#server_audit_syslog_facility=LOG_LOCAL6
#server_audit_syslog_ident=mysql_audit
#server_audit_syslog_info=this-host.name
#server_audit_syslog_priority=LOG_INFO
# Import all .cnf files from configuration directory
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/
